<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onightperson.hearken">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".HearkenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".news.ui.NewsActivity"/>

        <activity android:name=".news.ui.NewsContentActivity"/>

        <activity android:name=".anim.CustomViewActivity"/>

        <activity android:name=".viewtest.RecyclerTestActivity"/>

        <activity android:name=".wave.WaveActivity"
            android:hardwareAccelerated="false"/>

        <activity android:name=".text.TextChangeActivity"/>

        <service android:name=".service.AlarmIntentService"
                 android:process=":background"
                 android:exported="false">
            <intent-filter>
                <action android:name="action.alarm.notification.for.test"/>
            </intent-filter>
        </service>
    </application>


</manifest>